<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Brown Assignment by: Anders Kiss</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="" />
	</head>
	<body>

	<style> 
	.table, th, td {border: .7px solid black;}
	</style>

		<div class="random">
			<h1>20 Randomly Generated Users</h1>
			<h2>by Anders Kiss</h2>
			<h3>
			<ol style="color:grey">Instructions
				<li style="font-size:20px">Click a column header to sort the values</li>
				<li style="font-size:20px">Simply refresh the page for another set of 20 users</li>
			</ol>
			</h3>
			<h3 style="color:grey"></h3>
		</div>
		<table id="myTable" class="table">
			<thead style="color:blue;">
				<tr>
					<th>GENDER</th>
					<th>FIRST NAME</th>
					<th>LAST NAME</th>
					<th>COUNTRY</th>
					<th>DATE of BIRTH</th>
					<th>BIRTHDAY</th>
				</tr>
			</thead>
        	<tbody id="random-users">
				<% for (var i=0; i < passUsers.length; i++) { %>
				<tr>
					<td><%= passUsers[i].gender %></td>
					<td><%= passUsers[i].first_name %></td>
					<td><%= passUsers[i].last_name %></td>
					<td><%= passUsers[i].country %></td>
					<td><%= passUsers[i].dob %></td>
					<td><%= passUsers[i].birthday %></td>
				</tr>
				<% } %>
			</tbody>
		</table>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script type="text/javascript">

			th = document.getElementsByTagName('th');

			for (let c = 0; c < th.length; c++) {
				th[c].addEventListener('click', item(c));
			}

			function item(c) {
				return function() {
					// console.log(c);
					sortTable(c);
				};
			}

			function sortTable(c) {
				var table, rows, switching, i, x, y, shouldSwitch;
				table = document.getElementById('myTable');
				switching = true;
				/* Make a loop that will continue until
				no switching has been done: */
				while (switching) {
					// Start by saying: no switching is done:
					switching = false;
					rows = table.rows;
					/* Loop through all table rows (except the
				first, which contains table headers): */
					for (i = 1; i < rows.length - 1; i++) {
						// Start by saying there should be no switching:
						shouldSwitch = false;
						/* Get the two elements you want to compare,
					one from current row and one from the next: */
						x = rows[i].getElementsByTagName('TD')[c];
						y = rows[i + 1].getElementsByTagName('TD')[c];
						// Check if the two rows should switch place:
						if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
							// If so, mark as a switch and break the loop:
							shouldSwitch = true;
							break;
						}
					}
					if (shouldSwitch) {
						/* If a switch has been marked, make the switch
					and mark that a switch has been done: */
						rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
						switching = true;
					}
				}
			}

		</script>

	</body>
</html>
